:root {
    --primary-color: #384E77;
    --secondary-color: #8BBEB2;
    --font-family: 'Noto Sans', sans-serif;
    --titles-color: #0D0630;
    --text-color: #18314F;
    --background-color: rgba(139, 190, 178, 0.1);
    --shadow-color: 4px 4px 20px rgba(56, 78, 119, 0.2);
    --font-weight-bold: 800;
    --font-weight-regular: 400;
}

* {
    margin: 0% auto;
    box-sizing: border-box;
}

body {

    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);

}



nav>a {
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--titles-color);
}

nav>a:hover {
    color: var(--primary-color);
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 3.125rem;
    font-weight: var(--font-weight-bold);

    text-align: center;
}

h2,
h3 {
    color: var(--titles-color);
}

h3 {
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-weight: var(--font-weight-bold);
}

h3>span {
    display: block;
    font-weight: var(--font-weight-regular);
    font-size: 1.25rem;

}

p {
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--text-color);
}

a>p {
    color: var(--secondary-color);
}


.formLabel {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: var(--font-weight-bold);
}

input {
    color: var(--secondary-color), 0.5;
    border: 0.0625 solid var(--secondary-color);
    border-radius: 0.3125;
    font-size: 1rem;
    line-height: 1.625rem;
}

textarea {
    color: var(--secondary-color), 0.5;
    border: 0.0625 solid var(--secondary-color);
    border-radius: 0.3125;
}

p.gdpr {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: var(--text-color);
}

p>span>.locationName {
    color: var(--titles-color);
    font-weight: var(--font-weight-bold);
}

/*css de guillaume*/

#more2,
#more3,
#more1 {
    display: none;
}

.identity {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.my-selection {
    background: rgba(139, 190, 178, 0.1);
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.my-selection-card-book {
    display: flex;
    flex-direction: column;
    margin: 20px 21.5px;
}

.my-selection-card-book>div>img {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 20px 70px;
}

#identity-img {
    border-radius: 10px;
    width: 100%;
    color: rgba(139, 190, 178, 0.1);
    margin: 30px 0px;
}

.lirePlus {
    color: var(--secondary-color);
    margin-top: 20px;
}


/*CSS-DANI*/

.book-article {

    display: flex;
    flex-direction: column;
    align-items: center;
}


#article-title {
    width: 100%;
}

.article-title-text {
    background-color: chartrese;
    margin: 0 4%;
    text-align: left;
}


.article-main2-text {
    background-color: bluevioet;
    margin: 2% 4% 0
}

#image-div {
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
    border-radius: 0.62rem;
    margin: 2rem;


}

#cover-image {
    width: 8rem;
    height: 13rem;
    text-align: center;
    margin: 2rem;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: dargreen;


}