:root {
    --primary-color: #384E77;
    --secondary-color: #8BBEB2;
    --font-family: 'Noto Sans', sans-serif;
    --titles-color: #0D0630;
    --text-color: #18314F;
    --background-color: rgba(139, 190, 178, 0.1);
    --shadow-color: 4px 4px 20px rgba(56, 78, 119, 0.2);
    --font-weight-bold: 800;
    --font-weight-regular: 400;
}

body {

    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
}

nav>a {
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--titles-color);
}


nav>a:hover {
    color: var(--primary-color);
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 3.125rem;
    font-weight: var(--font-weight-bold);
}

h2,
h3 {
    color: var(--titles-color);
}

h3 {
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-weight: var(--font-weight-bold);
}

h3>span {
    display: block;
    font-weight: var(--font-weight-regular);
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--text-color);
}

a>p {
    color: var(--secondary-color);
}




/* --------------Formulaire------------- */


.formulaire {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 40px 20px;
}

.windowForm {
    width: 335px;
    margin: auto;
    height: 537px;
    background: #FFFFFF;
    box-shadow: var(--shadow-color);
    border-radius: 14px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: hidden;
    margin-top: 40px;
}

.infoForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

input {
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    height: 46px;
    width: 100%;
    text-indent: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}

#labelForm {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: var(--font-weight-bold);
}

::placeholder {
    color: rgba(139, 190, 178, 0.5);
    font-size: 1rem;
    line-height: 1.625rem;
    text-indent: 15px;
    font-family: var(--font-family);
}

#formulaireMessage {
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    width: 100%;
    height: 92px;
    text-indent: 15px;
    padding-top: 10px;
    margin-top: 5px;
}

#formulaireMessage:focus {
    border: 1px solid #384E77;
    outline: none;
}

#policyText {
    width: 295px;
    font-size: 0.6rem;
    line-height: 1.5;
}

button {
    width: 99px;
    height: 46px;
    color: #FFFFFF;
    background-color: var(--primary-color);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    transition: 0.4s;
}

button:hover {
    background-color: var(--text-color);
}

button:active {
    background-color: var(--text-color);
}

/* --------------Popup-------------- */

.form-popup {
    display: none;
    position: fixed;
    width: 330px;
    margin: auto;
    height: 335px;
    background: #FFFFFF;
    box-shadow: var(--shadow-color);
    border-radius: 14px;
    padding: 30px 20px;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: white;
}

#closeButton {
    margin: auto;
}

/* --------------Google map-------------- */

.googleMap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7px;
    padding: 30px 20px;
}

#activMap {
    width: 335px;
    height: 375px;
    border-radius: 14px;
}

/* Adress */

#positionAdress {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding: auto;
    margin-top: 30px;
}

#mapMarker {
    color: var(--secondary-color);
}

#adressName {
    font-style: var(--font-weight-bold);
}



/* --------------Footer-------------- */


footer {
    width: 100%;
    height: 100px;
    background-color: #384E77;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footerUrl,
#footerText {
    color: #FFFFFF;
}


/* --------------Responsive-------------- */

/* --------------Formulaire - GoogleMap - Popup - responsive-------------- */


@media screen and (min-width: 600px) {

    .formulaire {
        padding-bottom: 80px;
        padding-top: 10px;
    }

    .windowForm {
        width: 700px;
        height: 438px;
    }

    .labelNameMail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    input {
        width: 270px;
    }

    #formulaireMessage,
    #policyText {
        width: 590px;
    }

    .googleMap {
        margin-top: 50px;
    }

    #activMap {
        width: 700px;
    }

    .form-popup {
        height: 260px;
        width: 700px;
    }
}