/* --------------Formulaire------------- */


.formulaire {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 40px 20px;
}

.windowForm {
    width: 335px;
    margin: auto;
    height: 537px;
    background: #FFFFFF;
    box-shadow: var(--shadow-color);
    border-radius: 14px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: hidden;
    margin-top: 40px;
}

.infoForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

input {
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    height: 46px;
    width: 295px;
    text-indent: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input:focus,
input:active {
    border: 1px solid var(--primary-color);
    outline: none;
    background-color: var(--background-color);
}

#labelForm,
#labelTextareaPhone {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: var(--font-weight-bold);
}

#labelTextareaDesktop {
    display: none;
}

#brMessage {
    display: none;
}

::placeholder {
    color: rgba(139, 190, 178, 0.5);
    font-size: 1rem;
    line-height: 1.625rem;
    text-indent: 15px;
    font-family: var(--font-family);
}

#formulaireMessage {
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    width: 100%;
    height: 92px;
    text-indent: 15px;
    padding-top: 10px;
    margin-top: 5px;
}

#formulaireMessage:focus,
#formulaireMessage:active {
    border: 1px solid var(--primary-color);
    outline: none;
    background-color: var(--background-color);
}


#policyText {
    width: 295px;
    font-size: 0.6rem;
    line-height: 1.5;
}

button {
    width: 99px;
    height: 46px;
    color: #FFFFFF;
    background-color: var(--primary-color);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    transition: 0.4s;
}

button:hover {
    background-color: var(--text-color);
}

button:active {
    background-color: var(--text-color);
}

/* --------------Popup-------------- */

.form-popup {
    display: none;
    position: fixed;
    width: 330px;
    margin: auto;
    height: 400px;
    background: #FFFFFF;
    box-shadow: var(--shadow-color);
    border-radius: 14px;
    padding: 30px 20px;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 25%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: white;
    width: 100%;
    justify-content: space-between;

}

#bookPopupBox {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 14px;
    width: 290px;
    height: 144px;
    justify-content: center;

}

#closeButton {
    margin-top: 10px;
}



/* --------------Google map-------------- */

.googleMap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7px;
    padding: 30px 20px;
}

#activMap {
    width: 335px;
    height: 375px;
    border-radius: 14px;
}

/* Adress */

#positionAdress {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding: auto;
    margin-top: 30px;
}

#mapMarker {
    color: var(--secondary-color);
}

#adressName {
    font-style: var(--font-weight-bold);
}

#bookFoot {
    display: flex;
    align-items: center;
    width: 140px;

}


/* --------------Footer-------------- */


footer {
    min-width: 375px;
    width: 100%;
    height: 190px;
    background-color: #384E77;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

#logoFoot {
    height: 56px;
    width: 144px;
}


#footerUrl,
#footerText {
    color: #FFFFFF;
}


/* --------------Responsive-------------- */

/* --------------Formulaire - GoogleMap - Popup - responsive-------------- */


@media screen and (min-width: 800px) {

    .formulaire {
        padding-bottom: 80px;
        padding-top: 40px;
        width: 100%;
    }

    .windowForm {
        width: 700px;
        height: 438px;
    }

    .labelNameMail {
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
    }

    #labelTextareaPhone {
        display: none;
    }

    #brMessage {
        display: initial;
    }

    #labelTextareaDesktop {
        display: flex;
        font-size: 0.875rem;
        font-weight: var(--font-weight-bold);
        margin-bottom: -10px;
    }

    input {
        width: 280px;
    }

    #formulaireMessage,
    #policyText {
        width: 590px;
    }

    .googleMap {
        margin-top: 50px;
    }

    #activMap {
        width: 1240px;
        height: 500px;
    }

    #positionAdress {
        margin-top: 70px;
        gap: none;
        margin-bottom: 20px;
    }

    .form-popup {
        height: 390px;
        width: 700px;
    }

    #bookPopupBox {
        width: 90%;
    }

    #closeButton {
        margin-top: 20px;
    }

    .bookFoot {
        width: 1240px;
    }

    #bookFoot {
        margin-right: 0%;
        margin-top: -70px;
    }

    footer {
        height: 140px;
    }

    .footerBox {

        width: 1240px;
        display: flex;
        flex-direction: row;
    }

    #footerText {
        justify-content: flex-start;
        margin-right: 440px;
    }

    #logoFoot {
        margin-left: -140px;
    }
}