#desktop {
    display: none;
}

#mobile {
    position: fixed;
    background-attachment: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
}





/*CSS Philippe mobile first*/

.headerMobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    background-color: white;
    min-width: 370px;
    max-width: 600px;
    height: 80px;
    width: 100%;
}

.logoMobile {
    width: 110px;
    margin-left: 20px;
    margin-top: 10px;
}

/* -----------Sidenav / Burger menu------------- */

.sidenav {

    height: 375px;
    width: 335px;
    position: fixed;
    background-color: white;
    transition: right 0.5s ease;
    border-radius: 13px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 15px 5px #000000;
    top: 10%;
}

.sidenav.active {
    /* bouton burger ouvert */
    right: 60px;
    left: 20px;
    padding-top: 0px;
    transition: 0.3s;
}

.fa-xmark {
    margin-right: 0%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #111;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.btnContact {
    margin-left: 35px;
    margin-top: 50px;
    padding: 14px 20px;
    gap: 10px;
    width: 145px;
    height: 46px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    border-color: var(--primary-color);
    border-style: solid;
}








.glass {
    display: flex;
    justify-content: flex-end;
    flex: 0.40;
    color: var(--secondary-color);
    padding-right: 25px;
}

.fa-bars {
    flex: 1;

}

.logo {
    flex: 0.25;
    height: 56px;
    margin-left: 25px;
    margin-top: 10px;
}

.liA {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.liText {
    border-bottom: 4px solid var(--secondary-color);
    border-width: 2px;
    margin-left: 0%;
    right: 0%;
}

.phototitre {
    width: 150%;
    height: 700px;
    /* margin-top: 60px; */
}


/* CSS Philippe desktop */

@media screen and (min-width:600px) {

    #mobile {
        display: none;
    }

    #desktop {
        display: flex;
        width: 100%;
        height: 90px;
    }



    ul {
        width: 65%;
        display: flex;
        list-style: none;
    }

    li {
        flex: 0.5;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .phototitre {
        width: 100%;
    }

    .btnContact {
        width: 155px;
        height: 46px;
        background-color: var(--primary-color);
        border-radius: 10px;
        border-color: var(--primary-color);
        border-style: solid;
        margin: auto;
    }

    .header {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 90px;
        background-color: white;
        top: 0;
        width: 100%;
        gap: 15px;
    }

    .glass {
        display: flex;
        border: solid var(--secondary-color);
        align-items: center;
        flex: 0.5;
        color: var(--secondary-color);
        border-radius: 13px;
        margin: auto;
        min-width: 155px;
        max-width: 155px;
        height: 46px;
    }

    #loupe {
        margin-right: 0%;
    }

    a {
        text-decoration: none;
        color: var(--titles-color);
    }

    .liA {
        margin: auto;
    }

    #Calque_1 {
        height: 56px;
        width: 144px;
    }




}