:root {
    --primary-color: #384E77;
    --secondary-color: #8BBEB2;
    --font-family: 'Noto Sans', sans-serif;
    --titles-color: #0D0630;
    --text-color: #18314F;
    --background-color: var(--secondary-color), 0.1;
    --shadow-color: 0.25rem 0.25rem 1.25rem var(--primary-color), 0.2;
    --font-weight-bold: 800;
    --font-weight-regular: 400;
}

body {

    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);

}

nav>a {

    font-size: 20px;

    line-height: 1.625;
    color: var(--titles-color);
}

nav>a:hover {
    color: var(--primary-color);
}

h2 {

    font-size: 2.5rem;
    line-height: 3.125;
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: 1.5rem;
    line-height: 2.125;
    font-weight: var(--font-weight-bold);
}

h3>span {
    font-weight: var(--font-weight-regular);
}

p {
    font-size: 1rem;
    line-height: 1.625;
    color: var(--text-color);
}


/*CSS Philippe mobile first*/


/* Sidenav menu */



.sidenav {
    height: 400px;
    width: 400px;
    position: fixed;
    right: -450px;
    background-color: white;
    padding-top: 60px;
    transition: right 0.5s ease;
    border-radius: 13px;

    box-shadow: 5px 5px 15px 5px #000000;
    border: solid green;

}


/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;

    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
    border: solid yellow;

}

.sidenav a:hover {
    color: #111;
    border: solid blue;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: solid red;


}


.sidenav.active {
    right: 0;
    padding-top: 0px;
}


.btnContact {
    margin-left: 35px;
    margin-top: 50px;
    padding: 14px 20px;
    gap: 10px;
    width: 145px;
    height: 46px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    border-color: var(--primary-color);
    border-style: solid;



}

.fa-xmark {

    margin-left: 200px;
    border: solid purple;

}



/*Header*/



.header {
    display: flex;
    max-width: 600px;
    min-width: 500px;
    border: solid black;

    align-items: center;

    top: 0;
    width: 100%;
    background-color: white;
}




.glass {
    flex: 3;
    color: var(--secondary-color);

    border: solid orange;

}

.fa-bars {
    flex: 1;
    border: solid turquoise;
}



.logo {
    flex: 1;
    width: 144px;
    height: 56px;
    border: solid red;
}

.liA {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: solid purple;


}

.liText {
    border-bottom: 4px solid var(--secondary-color);
    border-bottom-width: 2px;

    left: 0%;
    right: 0%;
    border: solid blue;



}

.phototitre {


    max-width: 600px;
    height: 658px;
    margin: 0px;
    border: solid yellow;

}


/*CSS Philippe desktop*/

@media screen and (min-width:600px) {

    .phototitre {
        position: relative;
        max-width: 1200px;
        height: 658px;
        margin: 0px;
    }

    .glass,
    .fa-bars {
        display: none;
    }

    .logo {
        flex: 1;
        max-width: 144px;
        max-height: 56px;
    }




}