.book-articles1-3,
.book-articles2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.3rem;

}

.article-title1,
.article-title2,
.article-title3 {
    width: 100%;
}


.cover-image1-3,
.cover-image2 {
    width: 100%;
    background-color: var(--background-color);
    padding: 4% 33%;
    border-radius: 0.62rem;
    margin: 1rem;
}

.lireplus1,
.lireplus2,
.lireplus3 {
    border: none;
    color: var(--secondary-color);
    text-align: left;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-top: 2%;
}

.buttonstyle1,
.buttonstyle2,
.buttonstyle3 {
    border: none;
    background-color: white;
    color: var(--secondary-color);
    padding: 0;
    width: 80px;
    height: auto;
    cursor: pointer;
    position: relative;
    display: inline;
}

.hiddennn1 {
    display: block;
    opacity: 0;
    height: 0;
    transition-property: opacity, height;
    transition-duration: 0.15s, 1.5s;
}

.showMas1 {
    display: inline;
    opacity: 1;
    height: auto;
    transition-property: opacity, height;
    transition-duration: 2s, 3s;
}

.lireplus2 {
    border: none;
    background-color: white;
    color: var(--secondary-color);
}

.hiddennn2 {
    display: block;
    opacity: 0;
    height: 0;
    transition-property: opacity, height;
    transition-duration: 0.15s, 1.5s;
}

.showMas2 {
    display: inline;
    opacity: 1;
    height: auto;
    transition-property: opacity, height;
    transition-duration: 2s, 3s;
}

.lireplus3 {
    border: none;
    background-color: white;
    color: var(--secondary-color);
}

.hiddennn3 {
    display: block;
    opacity: 0;
    height: 0;
    transition-property: opacity, height;
    transition-duration: 0.15s, 1.5s;
}

.showMas3 {
    display: inline;
    opacity: 1;
    height: auto;
    transition-property: opacity, height;
    transition-duration: 2s, 3s;
}

.hiddenn4 {
    display: none;
}

@media screen and (min-width: 600px) {
    .best-sellers {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-left: auto;

    }

    .book-articles1-3,
    .book-articles2 {
        display: flex;
        flex-direction: row-reverse;
        width: 85%;
        margin: 4% auto 1%;
        align-items: flex-start;
        gap: 2%;
    }

    .book-articles2 {
        flex-direction: row;
    }

    .cover-image1-3 {
        padding: 3% 17%;
        margin-right: 0;
        margin-left: 10%;
        max-width: 50%;
    }


    .cover-image2 {
        padding: 3% 17%;
        margin-right: 10%;
        margin-left: 0;
        max-width: 50%;
    }

    .article-withoutimage1-3 {
        margin: 4% auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .article-withoutimage2 {
        margin: 4% auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h3 {
        margin: 0;
    }


    .lireplus1,
    .lireplus2,
    .lireplus3,
    .puntos1,
    .puntos2,
    puntos3 {
        display: none;
    }

    .hiddennn1,
    .hiddennn2,
    .hiddennn3 {
        display: inline;
        opacity: 1;
        height: auto;
        transition-property: opacity, height;
        transition-duration: 2s, 3s;
    }
}