

@import "secondPart.css";
@import "jonathan.css";
@import "guillaume.css";

@import "secondPart.css";
@import "philippe.css";

@import "nao.css";


:root {
    --primary-color: #384E77;
    --secondary-color: #8BBEB2;
    --font-family: 'Noto Sans', sans-serif;
    --titles-color: #0D0630;
    --text-color: #18314F;
    --background-color: rgba(139, 190, 178, 0.2);
    --shadow-color: 4px 4px 20px rgba(56, 78, 119, 0.2);
    --font-weight-bold: 800;
    --font-weight-regular: 400;
}

* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
}

nav>a {
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--titles-color);
}


nav>a:hover {
    color: var(--primary-color);
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 3.125rem;
    font-weight: var(--font-weight-bold);
}

h2,
h3 {
    color: var(--titles-color);
}

h3 {
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-weight: var(--font-weight-bold);
}

h3>span {
    display: block;
    font-weight: var(--font-weight-regular);
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--text-color);
}

a>p {
    color: var(--secondary-color);
}



/* header part */

/* Sidenav menu */
.sidenav {
    height: 55%;
    width: 360px;
    position: fixed;
    right: -360px;
    background-color: white;
    padding-top: 60px;
    transition: right 0.5s ease;
    border-radius: 18px;
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #111;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Active class */
.sidenav.active {
    right: 0;
    padding-top: 0px;
}

/* Close btn */
.sidenav .close {
    position: relative;
    text-align: right;
    padding-left: 0px;
}

/* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

header {
    display: flex;
    justify-content: space-between;
    place-items: center;
}

.glass {
    flex: 5;
    display: flex;
    color: var(--secondary-color);
    flex-direction: row-reverse;
}

.logo {
    flex: 5;
    margin: 15px;
    max-width: 144px;
    max-height: 56px;
}

i {
    margin: 20px;
}

.lili {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.btnContact {
    margin-left: 35px;
    padding: 10px;
    border-width: 6px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 18px;
    border-color: var(--primary-color);
    border-style: solid;


}

/* Hero banner + book animation*/

p>span>.locationName {
    color: var(--titles-color);
    font-weight: var(--font-weight-bold);
}

/*css de guillaume*/

