:root {
    --primary-color: #384E77;
    --secondary-color: #8BBEB2;
    --font-family: 'Noto Sans', sans-serif;
    --titles-color: #0D0630;
    --text-color: #18314F;
    --background-color: var(--secondary-color), 0.1;
    --shadow-color: 0.25rem 0.25rem 1.25rem var(--primary-color), 0.2;
    --font-weight-bold: 800;
    --font-weight-regular: 400;
}

body {

    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);

}

nav>a {
    font-size: 1rem;
    line-height: 1.625;
    color: var(--titles-color);
}

nav>a:hover {
    color: var(--primary-color);
}

h2 {

    font-size: 2.5rem;
    line-height: 3.125;
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: 1.5rem;
    line-height: 2.125;
    font-weight: var(--font-weight-bold);
}

h3>span {
    font-weight: var(--font-weight-regular);
}

p {
    font-size: 1rem;
    line-height: 1.625;
    color: var(--text-color);
}

.formLabel {
    font-size: 0.875;
    line-height: 1.375;
    font-weight: var(--font-weight-bold);
}

input {
    color: var(--secondary-color), 0.5;
    border: 0.0625 solid var(--secondary-color);
    border-radius: 0.3125;
    font-size: 1rem;
    line-height: 1.625;
}

textarea {
    color: var(--secondary-color), 0.5;
    border: 0.0625 solid var(--secondary-color);
    border-radius: 0.3125;
}

p.gdpr {
    font-size: 0.75rem;
    line-height: 1.125;
    color: var(--text-color);
}

p>span>.locationName {
    color: var(--titles-color);
    font-weight: var(--font-weight-bold);
}